[submodule "MiniBeacon"]
	path = MiniBeacon
	url = https://github.com/RedBearLab/MiniBeacon
[submodule "hackrf_ble"]
	path = hackrf_ble
	url = https://github.com/vkchettimada/hackrf_ble
[submodule "ubertooth-scripts"]
	path = ubertooth-scripts
	url = https://github.com/mountainraptor/ubertooth-scripts
[submodule "pyubertooth"]
	path = pyubertooth
	url = https://github.com/hackgnar/pyubertooth
[submodule "bigtooth"]
	path = bigtooth
	url = https://github.com/pcgeller/bigtooth
[submodule "BLESuite"]
	path = BLESuite
	url = https://github.com/nccgroup/BLESuite
[submodule "btlejuice"]
	path = btlejuice
	url = https://github.com/DigitalSecurity/btlejuice
[submodule "btlejuice-python-bindings"]
	path = btlejuice-python-bindings
	url = https://github.com/DigitalSecurity/btlejuice-python-bindings
[submodule "BLE-Security"]
	path = BLE-Security
	url = https://github.com/merculite/BLE-Security
[submodule "btproxy"]
	path = btproxy
	url = https://github.com/conorpp/btproxy
[submodule "Bluelog"]
	path = Bluelog
	url = https://github.com/MS3FGX/Bluelog
[submodule "bt_rng"]
	path = bt_rng
	url = https://github.com/MS3FGX/bt_rng
[submodule "Bluefog"]
	path = Bluefog
	url = https://github.com/MS3FGX/Bluefog
